exec sp_reset_connection 
go
/*dialect*/select 100- cast(cast(available_physical_memory_kb as numeric(23,10))*100/total_physical_memory_kb as numeric(23,2)) from sys.dm_os_sys_memory
go
/*dialect*/
                        SELECT [divfs].[database_id] ,
                        [divfs].[file_id] ,
                        [divfs].[sample_ms] ,
                        [divfs].[num_of_reads] ,
                        [divfs].[num_of_bytes_read] ,
                        [divfs].[io_stall_read_ms] ,
                        [divfs].[num_of_writes] ,
                        [divfs].[num_of_bytes_written] ,
                        [divfs].[io_stall_write_ms] ,
                        [divfs].[io_stall] ,
                        [divfs].[size_on_disk_bytes] ,
                        [divfs].[file_handle] into TMP637F92CAB56D11E89350E4F89CE
                        FROM [sys].[dm_io_virtual_file_stats](NULL, NULL) AS divfs
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT GETDATE() SET NO_BROWSETABLE OFF;
go
if exists(select 1 from sys.tables where name='TMP2EAB2775B56D11E89350E4F89CE')
                        begin
                            Truncate table TMP2EAB2775B56D11E89350E4F89CE
                            Drop table TMP2EAB2775B56D11E89350E4F89CE 
                        end;
/*dialect*/if exists(select 1 from sys.tables where name='TMP2EAB2776B56D11E89350E4F89CE')
                        begin
                            Truncate table TMP2EAB2776B56D11E89350E4F89CE
                            Drop table TMP2EAB2776B56D11E89350E4F89CE 
                        end;
/*dialect*/if exists(select 1 from sys.tables where name='TMP2EAB2778B56D11E89350E4F89CE')
                        begin
                            Truncate table TMP2EAB2778B56D11E89350E4F89CE
                            Drop table TMP2EAB2778B56D11E89350E4F89CE 
                        end;
/*dialect*/if exists(select 1 from sys.tables where name='TMP2EAB2779B56D11E89350E4F89CE')
                        begin
                            Truncate table TMP2EAB2779B56D11E89350E4F89CE
                            Drop table TMP2EAB2779B56D11E89350E4F89CE 
                        end;
/*dialect*/if exists(select 1 from sys.tables where name='TMP2EAB2777B56D11E89350E4F89CE')
                        begin
                            Truncate table TMP2EAB2777B56D11E89350E4F89CE
                            Drop table TMP2EAB2777B56D11E89350E4F89CE 
                        end;

go
if exists(select 1 from sys.tables where name='TMP2EAB277BB56D11E89350E4F89CE')
                        begin
                            Truncate table TMP2EAB277BB56D11E89350E4F89CE
                            Drop table TMP2EAB277BB56D11E89350E4F89CE 
                        end;

go
CREATE TABLE TMP63B7938CB56D11E89350E4F89CE (FBILLNO NVARCHAR (100), FFORMID VARCHAR (50), FBILLID INT, FCURRENCYID INT, FSALQTY DECIMAL (23, 10), FSALRECEIPT DECIMAL (23, 10), FSTOCKQTY DECIMAL (23, 10), FRETSTOCKQTY DECIMAL (23, 10), FCOST DECIMAL (23, 10), FBILLTYPEID VARCHAR (36), FSALEORGID INT, FSALEDEPTID INT, FSALEGROUPID INT, FSALERID INT, FCUSTID INT, FENTRYID INT, FBASEUNIT INT, FTYPE VARCHAR (30), FMATERIALID INT, FLOT NVARCHAR (255), FAUXPROPID INT, FEXCHANGERATE DECIMAL (23, 10), FSTOCKORGID INT, FISFREE CHAR (1), FBASEORDERQTY DECIMAL (23, 10), FBASESTOCKQTY DECIMAL (23, 10), FBASESALEPRICE DECIMAL (23, 10), FBASEPRECOST DECIMAL (23, 10))
go
CREATE TABLE TMP63B7938DB56D11E89350E4F89CE (FTYPE VARCHAR (30), FFORMID VARCHAR (50), FBILLID INT, FENTRYID INT, FSALEDEPTID INT, FSALEORGID INT, FSALEGROUPID INT, FSALERID INT, FCUSTID INT, FMATERIALID INT, FCUSTOMERNUMBER NVARCHAR (100), FCUSTOMERNAME NVARCHAR (255), FCUSTCOUNTRY NVARCHAR (100), FCUSTDIST NVARCHAR (100), FCUSTGROUP NVARCHAR (100), FCUSTTYPE NVARCHAR (100), FMATERIALNUMBER NVARCHAR (255), FMATERIALNAME NVARCHAR (255), FLOT NVARCHAR (255), FMATERIALGROUP NVARCHAR (255), FMODEL NVARCHAR (510), FAUXPROPID INT, FAUXPROP NVARCHAR (1500) DEFAULT '', FSALUNITNAME NVARCHAR (80), FRELATION DECIMAL (23, 10), FQTYDECIMAL INT, FCASTNUM DECIMAL (23, 10), FSALORGNUMBER NVARCHAR (30), FSALORGNAME NVARCHAR (80), FSALGROUPNUMBER NVARCHAR (100), FSALGROUPNAME NVARCHAR (80), FSALDEPTNUMBER NVARCHAR (100), FSALDEPTNAME NVARCHAR (255), FSALERNUMBER NVARCHAR (100), FSALERNAME NVARCHAR (255), FBILLTYPEID VARCHAR (36), FBILLTYPE NVARCHAR (80), FBILLNO NVARCHAR (80), FCURRENCY NVARCHAR (80), FCURRENCYID INT, FPRICEDECIMAL INT, FAMOUNTDECIMAL INT, FSALQTY DECIMAL (23, 10), FOUTSTOCKQTY DECIMAL (23, 10), FSTOCKQTY DECIMAL (23, 10), FRETSTOCKQTY DECIMAL (23, 10), FSALRECEIPT DECIMAL (23, 10), FCOST DECIMAL (23, 10), FPRICE DECIMAL (23, 10), FPERCOST DECIMAL (23, 10), FSALPROFIT DECIMAL (23, 10), FSALPROFITRATE DECIMAL (23, 10), ROWNO INT, FEXCHANGERATE DECIMAL (23, 10), FSTOCKORGID INT, FISFREE CHAR (1), FBASEUNITID INT, FBASEUNITNAME NVARCHAR (100), FBASEORDERQTY DECIMAL (23, 10), FBASESTOCKQTY DECIMAL (23, 10), FBASESALEPRICE DECIMAL (23, 10), FBASEPRECOST DECIMAL (23, 10))
go
CREATE TABLE TMP63B7938FB56D11E89350E4F89CE (FAdjustBillNo VARCHAR (30), FAdjustFromARBillNo VARCHAR (30), FType VARCHAR (20), FFirstSourceEntryId INT, FAmount DECIMAL (23, 10))
go
CREATE TABLE TMP63B79390B56D11E89350E4F89CE (FID INT)
go
INSERT INTO TMP63B7938CB56D11E89350E4F89CE (FTYPE, FFORMID, FBILLID, FENTRYID, FBASEUNIT, FBILLNO, FBILLTYPEID, FSALEORGID, FSALEDEPTID, FSALEGROUPID, FSALERID, FCUSTID, FMATERIALID, FLOT, FAUXPROPID, FCURRENCYID, FSALQTY, FSALRECEIPT, FSTOCKQTY, FRETSTOCKQTY, FCOST, FSTOCKORGID, FEXCHANGERATE, FISFREE, FBASEORDERQTY, FBASESTOCKQTY, FBASESALEPRICE, FBASEPRECOST) SELECT 'NORMAL', 'SAL_SaleOrder', T0.FID, T0E.FENTRYID, T0E.FBASEUNITID, T0.FBILLNO, T0.FBILLTYPEID, T0.FSALEORGID, T0.FSALEDEPTID, T0.FSALEGROUPID, T0.FSALERID, T0.FCUSTID, T0E.Fmaterialid, T0E.FLOT_TEXT, T0E.FAUXPROPID, T0F.FLOCALCURRID, T0E.FQTY * CASE  WHEN T0E.FBaseUnitQty = 0.0 THEN 1 ELSE (T0E.FStockBaseQty / T0E.FBaseUnitQty) END, T0EF.FAMOUNT, T0RE.FStockBASESTOCKOUTQTY, T0R.FBASERETURNQTY * CASE  WHEN T0E.FBaseUnitQty = 0.0 THEN 1 ELSE (T0E.FStockBaseQty / T0E.FBaseUnitQty) END, 0, T0E.FSTOCKORGID, T0F.FEXCHANGERATE, T0EF.FISFREE, T0E.FBaseUnitQty, T0E.FSTOCKBASEQTY, CASE  WHEN T0E.FBaseUnitQty = 0.0 THEN 0 ELSE (ISNULL(T0EF.FAMOUNT, 0) / T0E.FBaseUnitQty) END, 0 FROM T_SAL_ORDER T0 INNER JOIN T_SAL_ORDERENTRY T0E ON T0.FID = T0E.FID INNER JOIN T_SAL_ORDERENTRY_F T0EF ON T0EF.FENTRYID = T0E.FENTRYID INNER JOIN T_SAL_ORDERFIN T0F ON T0.FID = T0F.FID INNER JOIN T_SAL_ORDERENTRY_R T0R ON T0E.FENTRYID = T0R.FENTRYID INNER JOIN T_SAL_ORDERENTRY_E T0RE ON T0RE.FENTRYID = T0R.FENTRYID WHERE (T0.FDOCUMENTSTATUS = 'C' AND (((T0.FSALEORGID IN (100003, 100002, 100004, 100005, 100006, 121009) AND (T0.FDATE >= '2017-12-01 00:00:00')) AND (T0.FDATE < '2018-09-12 00:00:00')) AND (T0.FBUSINESSTYPE <> 'STRAIGHT')))
go
INSERT INTO TMP63B7938CB56D11E89350E4F89CE (FTYPE, FFORMID, FBILLID, FENTRYID, FBASEUNIT, FBILLNO, FBILLTYPEID, FSALEORGID, FSALEDEPTID, FSALEGROUPID, FSALERID, FCUSTID, FMATERIALID, FLOT, FAUXPROPID, FCURRENCYID, FSALQTY, FSALRECEIPT, FSTOCKQTY, FRETSTOCKQTY, FCOST, FSTOCKORGID, FEXCHANGERATE, FISFREE, FBASEORDERQTY, FBASESTOCKQTY, FBASESALEPRICE, FBASEPRECOST) SELECT 'STRAIGHT', 'SAL_SaleOrder', T0.FID, T0E.FENTRYID, T0E.FBASEUNITID, T0.FBILLNO, T0.FBILLTYPEID, T0.FSALEORGID, T0.FSALEDEPTID, T0.FSALEGROUPID, T0.FSALERID, T0.FCUSTID, T0E.FMATERIALID, T0E.FLOT_TEXT, T0E.FAUXPROPID, T0F.FLOCALCURRID, T0E.FQTY * CASE  WHEN T0E.FBaseUnitQty = 0.0 THEN 1 ELSE (T0E.FStockBaseQty / T0E.FBaseUnitQty) END, T0EF.FAMOUNT, T0R.FBASEAPQTY, 0, T0R.FAPAMOUNT, T0E.FSTOCKORGID, T0F.FEXCHANGERATE, T0EF.FISFREE, T0E.FBaseUnitQty, T0E.FSTOCKBASEQTY, CASE  WHEN T0E.FBaseUnitQty = 0.0 THEN 0 ELSE (ISNULL(T0EF.FAMOUNT, 0) / T0E.FBaseUnitQty) END, CASE  WHEN T0E.FSTOCKBASEQTY = 0.0 THEN 0 ELSE (ISNULL(T0R.FAPAMOUNT, 0) / T0E.FSTOCKBASEQTY) END FROM T_SAL_ORDER T0 INNER JOIN T_SAL_ORDERENTRY T0E ON T0.FID = T0E.FID INNER JOIN T_SAL_ORDERFIN T0F ON T0.FID = T0F.FID INNER JOIN T_SAL_ORDERENTRY_F T0EF ON T0EF.FENTRYID = T0E.FENTRYID INNER JOIN T_SAL_ORDERENTRY_R T0R ON T0E.FENTRYID = T0R.FENTRYID WHERE (T0.FDOCUMENTSTATUS = 'C' AND (((T0.FSALEORGID IN (100003, 100002, 100004, 100005, 100006, 121009) AND (T0.FDATE >= '2017-12-01 00:00:00')) AND (T0.FDATE < '2018-09-12 00:00:00')) AND T0.FBUSINESSTYPE = 'STRAIGHT'))
go
INSERT INTO TMP63B7938CB56D11E89350E4F89CE (FTYPE, FFORMID, FBILLID, FENTRYID, FBASEUNIT, FBILLNO, FBILLTYPEID, FSALEORGID, FSALEDEPTID, FSALEGROUPID, FSALERID, FCUSTID, FMATERIALID, FLOT, FAUXPROPID, FCURRENCYID, FSALQTY, FSALRECEIPT, FSTOCKQTY, FRETSTOCKQTY, FCOST, FSTOCKORGID, FEXCHANGERATE, FISFREE, FBASEORDERQTY, FBASESTOCKQTY, FBASESALEPRICE, FBASEPRECOST) SELECT 'STOCK', 'SAL_OUTSTOCK', T0.FID, T0E.FENTRYID, T0E.FBASEUNITID, T0.FBILLNO, T0.FBILLTYPEID, T0.FSALEORGID, T0.FSALEDEPTID, T0.FSALESGROUPID, T0.FSALESMANID, TBCR.FCUSTID, TBM.FMATERIALID, T0E.FLOT_TEXT, T0E.FAUXPROPID, T0F.FLOCALCURRID, T0E.FREALQTY * CASE  WHEN T0EF.FSalBaseQty = 0.0 THEN 1 ELSE (T0E.FBaseUnitQty / T0EF.FSalBaseQty) END, T0EF.FAMOUNT, T0E.FBASEUNITQTY - T0R.FStockBASESUMRETSTOCKQTY, 0, T0EF.FCOSTAMOUNT_LC, T0.FSTOCKORGID, T0F.FEXCHANGERATE, T0EF.FISFREE, T0EF.FSALBASEQTY, T0E.FBaseUnitQty, CASE  WHEN T0EF.FSALBASEQTY = 0.0 THEN 0 ELSE (ISNULL(T0EF.FAMOUNT, 0) / T0EF.FSALBASEQTY) END, CASE  WHEN T0E.FBaseUnitQty = 0.0 THEN 0 ELSE (ISNULL(T0EF.FCOSTAMOUNT_LC, 0) / T0E.FBaseUnitQty) END FROM T_SAL_OUTSTOCK T0 INNER JOIN T_SAL_OUTSTOCKENTRY T0E ON T0.FID = T0E.FID INNER JOIN T_SAL_OUTSTOCKFIN T0F ON T0.FID = T0F.FID INNER JOIN T_SAL_OUTSTOCKENTRY_R T0R ON T0E.FENTRYID = T0R.FENTRYID INNER JOIN T_SAL_OUTSTOCKENTRY_F T0EF ON T0E.FENTRYID = T0EF.FENTRYID INNER JOIN T_BD_MATERIAL TB ON T0E.FMATERIALID = TB.FMATERIALID INNER JOIN T_BD_MATERIAL TBM ON (TB.FMASTERID = TBM.FMASTERID AND TBM.FUseOrgID = T0.FSALEORGID) INNER JOIN T_BD_CUSTOMER TBC ON T0.FCUSTOMERID = TBC.FCUSTID INNER JOIN T_BD_CUSTOMER TBCR ON (TBCR.FMASTERID = TBC.FMASTERID AND TBCR.FUSEORGID = T0.FSALEORGID) WHERE (T0.FDOCUMENTSTATUS = 'C' AND ((((T0.FSALEORGID IN (100003, 100002, 100004, 100005, 100006, 121009) AND (T0.FDATE >= '2017-12-01 00:00:00')) AND (T0.FDATE < '2018-09-12 00:00:00')) AND T0R.FSRCBILLNO = ' ') AND T0F.FISGENFORIOS = '0')) UNION ALL SELECT 'RETURNSTOCK', 'SAL_RETURNSTOCK', T0.FID, T0E.FENTRYID, T0E.FBASEUNITID, T0.FBILLNO, T0.FBILLTYPEID, T0.FSALEORGID, T0.FSALEDEPTID, T0.FSALEGROUPID, T0.FSALESMANID, TBCR.FCUSTID, TBM.FMATERIALID, T0E.FLOT_TEXT, T0E.FAUXPROPID, T0F.FLOCALCURRID, 0 - (T0E.FREALQTY * CASE  WHEN T0EF.FSalBaseQty = 0.0 THEN 1 ELSE (T0E.FBaseUnitQty / T0EF.FSalBaseQty) END), 0 - T0EF.FAMOUNT, 0 - T0E.FBASEUNITQTY, 0, 0 - T0EF.FCOSTAMOUNT_LC, T0.FSTOCKORGID, T0F.FEXCHANGERATE, T0EF.FISFREE, 0 - T0EF.FSalBaseQty, 0 - T0E.FBaseUnitQty, 0 - CASE  WHEN T0EF.FSalBaseQty = 0.0 THEN 0 ELSE (ISNULL(T0EF.FAMOUNT, 0) / T0EF.FSalBaseQty) END, 0 - CASE  WHEN T0E.FBaseUnitQty = 0.0 THEN 0 ELSE (ISNULL(T0EF.FCOSTAMOUNT_LC, 0) / T0E.FBaseUnitQty) END FROM T_SAL_RETURNSTOCK T0 INNER JOIN T_SAL_RETURNSTOCKENTRY T0E ON T0.FID = T0E.FID INNER JOIN T_SAL_RETURNSTOCKFIN T0F ON T0.FID = T0F.FID INNER JOIN T_BD_MATERIAL TB ON T0E.FMATERIALID = TB.FMATERIALID INNER JOIN T_BD_MATERIAL TBM ON (TB.FMASTERID = TBM.FMASTERID AND TBM.FUseOrgID = T0.FSALEORGID) INNER JOIN T_BD_CUSTOMER TBC ON T0.FRETCUSTID = TBC.FCUSTID INNER JOIN T_BD_CUSTOMER TBCR ON (TBCR.FMASTERID = TBC.FMASTERID AND TBCR.FUSEORGID = T0.FSALEORGID) INNER JOIN T_SAL_RETURNSTOCKENTRY_R T0R ON T0E.FENTRYID = T0R.FENTRYID INNER JOIN T_SAL_RETURNSTOCKENTRY_F T0EF ON T0E.FENTRYID = T0EF.FENTRYID WHERE (T0.FDOCUMENTSTATUS = 'C' AND ((((T0.FSALEORGID IN (100003, 100002, 100004, 100005, 100006, 121009) AND (T0.FDATE >= '2017-12-01 00:00:00')) AND (T0.FDATE < '2018-09-12 00:00:00')) AND T0R.FSRCBILLNO = ' ') AND T0F.FISGENFORIOS = 0)) UNION ALL SELECT 'AR', 'AR_receivable', T0.FID, T0E.FENTRYID, T0E.FBASICUNITID, T0.FBILLNO, T0.FBILLTYPEID, T0.FSALEORGID, T0.FSALEDEPTID, T0.FSALEGROUPID, T0.FSALEERID, TBCR.FCUSTID, TBM.FMATERIALID, T0EO.FLOT_TEXT, 0 fauxpropid, T0F.FMAINBOOKSTDCURRID, T0EO.FStockBASEQTY, T0E.FNOTAXAMOUNT, 0, 0, 0, T0EO.FSTOCKORGID, T0F.FEXCHANGERATE, T0EO.FISFREE, T0E.FBASICUNITQTY, T0EO.FStockBASEQTY, CASE  WHEN T0E.FBASICUNITQTY = 0.0 THEN 0 ELSE (ISNULL(T0E.FNOTAXAMOUNT, 0) / T0E.FBASICUNITQTY) END, 0 FROM T_AR_RECEIVABLE T0 INNER JOIN T_AR_RECEIVABLEENTRY T0E ON T0.FID = T0E.FID INNER JOIN T_AR_RECEIVABLEENTRY_O T0EO ON T0E.FENTRYID = T0EO.FENTRYID INNER JOIN T_AR_RECEIVABLEFIN T0F ON T0.FID = T0F.FID INNER JOIN T_BD_MATERIAL TB ON T0E.FMATERIALID = TB.FMATERIALID INNER JOIN T_BD_MATERIAL TBM ON (TB.FMASTERID = TBM.FMASTERID AND TBM.FUseOrgID = T0.FSALEORGID) INNER JOIN T_BD_CUSTOMER TBC ON T0.FCUSTOMERID = TBC.FCUSTID INNER JOIN T_BD_CUSTOMER TBCR ON (TBCR.FMASTERID = TBC.FMASTERID AND TBCR.FUSEORGID = T0.FSALEORGID) WHERE (T0.FDOCUMENTSTATUS = 'C' AND (((((T0.FSALEORGID IN (100003, 100002, 100004, 100005, 100006, 121009) AND (T0.FDATE >= '2017-12-01 00:00:00')) AND (T0.FDATE < '2018-09-12 00:00:00')) AND T0E.FSOURCEBILLNO = ' ') AND T0.FACCOUNTSYSTEM = 0) AND T0.FByVerify = '0'))
go
IF NOT EXISTS (SELECT 1 FROM (SELECT SYSOBJECTS.NAME AS TABLE_NAME, SYSINDEXES.NAME AS INDEX_NAME FROM SYSOBJECTS INNER JOIN SYSINDEXES ON SYSINDEXES.ID = SYSOBJECTS.ID) AS KSQL_INDEXES WHERE INDEX_NAME = 'idx_63B7938CB56D11E89350E4_1')
BEGIN
CREATE INDEX idx_63B7938CB56D11E89350E4_1 ON TMP63B7938CB56D11E89350E4F89CE (FCUSTID)
END

go
IF NOT EXISTS (SELECT 1 FROM (SELECT SYSOBJECTS.NAME AS TABLE_NAME, SYSINDEXES.NAME AS INDEX_NAME FROM SYSOBJECTS INNER JOIN SYSINDEXES ON SYSINDEXES.ID = SYSOBJECTS.ID) AS KSQL_INDEXES WHERE INDEX_NAME = 'idx_63B7938CB56D11E89350E4_2')
BEGIN
CREATE INDEX idx_63B7938CB56D11E89350E4_2 ON TMP63B7938CB56D11E89350E4F89CE (FMATERIALID)
END

go
SELECT FBASEDATAID, FTABLEALIAS FROM T_BAS_RptDataRuleConfig WHERE FREPORTID = 'Sal_ProfitAnalyse'
go
INSERT INTO TMP63B7938DB56D11E89350E4F89CE (FTYPE, FFORMID, FBILLID, FENTRYID, FCustomerNumber, FCUSTOMERNAME, FCUSTCOUNTRY, FCUSTDIST, FCUSTGROUP, FCUSTTYPE, FMATERIALNUMBER, FMATERIALNAME, FLOT, FMATERIALGROUP, FMODEL, FAUXPROPID, FSALUNITName, FQtyDecimal, FSALORGNUMBER, FSALORGNAME, FSALGROUPNUMBER, FSALGROUPNAME, FSALDEPTNUMBER, FSALDEPTNAME, FSALERNUMBER, FSALERNAME, FBILLTYPEID, FBILLTYPE, FBILLNO, FCurrency, FPriceDecimal, FAmountDecimal, FSALQTY, FSALRECEIPT, FOUTSTOCKQTY, FSTOCKQTY, FRETSTOCKQTY, FCOST, FPRICE, FPERCOST, FSALPROFIT, FSALPROFITRATE, FCURRENCYID, FCASTNUM, FSALEGROUPID, FSALERID, FCUSTID, FMATERIALID, FSALEDEPTID, FSALEORGID, FSTOCKORGID, FISFREE, FBASEUNITID, FBASEUNITNAME, FBASEORDERQTY, FBASESTOCKQTY, FBASESALEPRICE, FBASEPRECOST) SELECT * FROM (SELECT T.FTYPE, T.FFORMID, T.FBILLID, T.FENTRYID, TC.FNUMBER fcustomernumber, TCL.FNAME fcustomername, TACL.FDATAVALUE fcustcountry, TAPL.FDATAVALUE fcustdist, TCGL.FNAME fcustgroup, TAFL.FDATAVALUE fcusttype, TM.FNUMBER fmaterialnumber, TML.FNAME fmaterialname, T.FLOT, TMGL.FNAME fmaterialgroup, TML.FSPECIFICATION fmodel, T.FAUXPROPID, TBUL.FNAME fsalunitname, TBU.FPRECISION fqtydecimal, TOO.FNUMBER fsaleorgnumber, TOOL.FNAME fsalorgname, VBSG.FNUMBER fsalgroupnumber, VBSGL.FNAME fsalgroupname, TBD.FNUMBER fsaldeptnumber, TBDL.FNAME fsaldeptname, VBS.FNUMBER fsalernumber, VBSL.FNAME fsalername, T.FBILLTYPEID fbilltypeid, TBL.FNAME fbilltype, T.FBILLNO, TBCL.FNAME fcurrency, TBC.FPRICEDIGITS fpricedecimal, TBC.FAMOUNTDIGITS famountdecimal, (T.FSALQTY * CASE  WHEN TMS.FSTOREURNUM = 0 THEN 1 ELSE (TMS.FSTOREURNOM / TMS.FSTOREURNUM) END) fsalqty, T.FSALRECEIPT, ((T.FSTOCKQTY - T.FRETSTOCKQTY) * CASE  WHEN TMS.FSTOREURNUM = 0 THEN 1 ELSE (TMS.FSTOREURNOM / TMS.FSTOREURNUM) END) foutstockqty, (T.FSTOCKQTY * CASE  WHEN TMS.FSTOREURNUM = 0 THEN 1 ELSE (TMS.FSTOREURNOM / TMS.FSTOREURNUM) END) fstockqty, (T.FRETSTOCKQTY * CASE  WHEN TMS.FSTOREURNUM = 0 THEN 1 ELSE (TMS.FSTOREURNOM / TMS.FSTOREURNUM) END) fretstockqty, T.FCOST, 0 fprice, 0 fpercost, 0 fsalprofit, 0 fsalprofitrate, T.FCURRENCYID, CASE  WHEN TMS.FSTOREURNUM = 0 THEN 1 ELSE (TMS.FSTOREURNOM / TMS.FSTOREURNUM) END fcastnum, T.FSALEGROUPID, T.FSALERID, T.FCUSTID, T.FMATERIALID, T.FSALEDEPTID, T.FSALEORGID, T.FSTOCKORGID, T.FISFREE, T.FBASEUNIT, BASETBUL.FNAME, T.FBASEORDERQTY, T.FBASESTOCKQTY, T.FBASESALEPRICE, T.FBASEPRECOST FROM TMP63B7938CB56D11E89350E4F89CE T INNER JOIN T_BD_CUSTOMER TC ON T.FCUSTID = TC.FCUSTID LEFT OUTER JOIN T_BD_CUSTOMER_L TCL ON (T.FCUSTID = TCL.FCUSTID AND TCL.FLOCALEID = 2052) LEFT OUTER JOIN T_BAS_ASSISTANTDATAENTRY TAC ON TAC.FENTRYID = TC.FCOUNTRY LEFT OUTER JOIN T_BAS_ASSISTANTDATAENTRY_L TACL ON (TAC.FENTRYID = TACL.FENTRYID AND TACL.FLOCALEID = 2052) LEFT OUTER JOIN T_BAS_ASSISTANTDATAENTRY TAP ON TAP.FENTRYID = TC.FPROVINCIAL LEFT OUTER JOIN T_BAS_ASSISTANTDATAENTRY_L TAPL ON (TAP.FENTRYID = TAPL.FENTRYID AND TAPL.FLOCALEID = 2052) LEFT OUTER JOIN T_BD_CUSTOMERGROUP_L TCGL ON (TC.FPRIMARYGROUP = TCGL.FID AND TCGL.FLOCALEID = 2052) LEFT OUTER JOIN T_BAS_ASSISTANTDATAENTRY TAF ON TAF.FENTRYID = TC.FCUSTTYPEID LEFT OUTER JOIN T_BAS_ASSISTANTDATAENTRY_L TAFL ON (TAF.FENTRYID = TAFL.FENTRYID AND TAFL.FLOCALEID = 2052) INNER JOIN T_BD_MATERIAL TM ON T.FMATERIALID = TM.FMATERIALID LEFT OUTER JOIN T_BD_MATERIAL_L TML ON (T.FMATERIALID = TML.FMATERIALID AND TML.FLOCALEID = 2052) LEFT OUTER JOIN T_BD_MATERIALGROUP_L TMGL ON (TM.FMATERIALGROUP = TMGL.FID AND TMGL.FLOCALEID = 2052) INNER JOIN T_BD_MATERIALSTOCK TMS ON TMS.FMATERIALID = TM.FMATERIALID INNER JOIN T_BD_UNIT TBU ON TMS.FSTOREUNITID = TBU.FUNITID LEFT OUTER JOIN T_BD_UNIT_L TBUL ON (TMS.FSTOREUNITID = TBUL.FUNITID AND TBUL.FLOCALEID = 2052) LEFT OUTER JOIN T_BD_UNIT_L BASETBUL ON (T.FBASEUNIT = BASETBUL.FUNITID AND BASETBUL.FLOCALEID = 2052) INNER JOIN T_ORG_ORGANIZATIONS TOO ON TOO.FORGID = T.FSALEORGID LEFT OUTER JOIN T_ORG_ORGANIZATIONS_L TOOL ON (T.FSALEORGID = TOOL.FORGID AND TOOL.FLOCALEID = 2052) LEFT OUTER JOIN T_BD_DEPARTMENT TBD ON T.FSALEDEPTID = TBD.FDEPTID LEFT OUTER JOIN T_BD_DEPARTMENT_L TBDL ON (T.FSALEDEPTID = TBDL.FDEPTID AND TBDL.FLOCALEID = 2052) LEFT OUTER JOIN V_BD_SALEGROUP VBSG ON T.FSALEGROUPID = VBSG.FENTRYID LEFT OUTER JOIN V_BD_SALEGROUP_L VBSGL ON (T.FSALEGROUPID = VBSGL.FENTRYID AND VBSGL.FLOCALEID = 2052) LEFT OUTER JOIN V_BD_SALESMAN VBS ON T.FSALERID = VBS.FID LEFT OUTER JOIN V_BD_SALESMAN_L VBSL ON (T.FSALERID = VBSL.FID AND VBSL.FLOCALEID = 2052) LEFT OUTER JOIN T_BAS_BILLTYPE_L TBL ON (TBL.FBILLTYPEID = T.FBILLTYPEID AND TBL.FLOCALEID = 2052) LEFT OUTER JOIN T_BD_CURRENCY TBC ON T.FCURRENCYID = TBC.FCURRENCYID LEFT OUTER JOIN T_BD_CURRENCY_L TBCL ON (T.FCURRENCYID = TBCL.FCURRENCYID AND TBCL.FLOCALEID = 2052)) t WHERE 1 = 1
go
IF NOT EXISTS (SELECT 1 FROM (SELECT SYSOBJECTS.NAME AS TABLE_NAME, SYSINDEXES.NAME AS INDEX_NAME FROM SYSOBJECTS INNER JOIN SYSINDEXES ON SYSINDEXES.ID = SYSOBJECTS.ID) AS KSQL_INDEXES WHERE INDEX_NAME = 'idx_tempSecondTable_FENTRYID')
BEGIN
CREATE INDEX idx_tempSecondTable_FENTRYID ON TMP63B7938DB56D11E89350E4F89CE (FENTRYID, FTYPE)
END

go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT FENTRYID, FTYPE FROM TMP63B7938DB56D11E89350E4F89CE WHERE FTYPE IN ('NORMAL', 'STOCK', 'STRAIGHT') SET NO_BROWSETABLE OFF;
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT GETDATE() SET NO_BROWSETABLE OFF;
go
CREATE TABLE #TM_BF_INSTANCEMASTERIDS (FMASTERID VARCHAR (36))
go
CREATE TABLE #TM_BF_TARGETENTITYIDS (FID INT)
go
select @@trancount; SET FMTONLY ON select * from #TM_BF_TARGETENTITYIDS SET FMTONLY OFF exec tempdb..sp_tablecollations_100 N'.[#TM_BF_TARGETENTITYIDS]'
go
insert bulk #TM_BF_TARGETENTITYIDS ([FID] Int) with (CHECK_CONSTRAINTS)
go
CREATE INDEX IDX_#TM_BF_TARGETENTITYIDS ON #TM_BF_TARGETENTITYIDS (FID)
go
CREATE INDEX IDX_TM_BF_INSTANCEMASTERIDS ON #TM_BF_INSTANCEMASTERIDS (FMASTERID)
go
DROP TABLE #TM_BF_TARGETENTITYIDS
go
CREATE TABLE #TM_BF_INSTALL (FInstanceId VARCHAR (36), FFlowId VARCHAR (36), FSourceId VARCHAR (36), FMasterId VARCHAR (36), FStatus CHAR (1), FFirstFormId VARCHAR (36), FFirstBillId BIGINT, FFirstBillNo VARCHAR (80), FStartTime DATETIME)
go
CREATE INDEX IDX_TM_INSTALL_ID ON #TM_BF_INSTALL (FInstanceId)
go
CREATE INDEX IDX_TM_INSTALL_MASTERID ON #TM_BF_INSTALL (FMasterId)
go
CREATE TABLE #TM_BF_INSTENTRYALL (FRouteId VARCHAR (36), FInstanceId VARCHAR (36), FLineId INT, FSTableName VARCHAR (36), FSId BIGINT, FTTableName VARCHAR (36), FTId BIGINT, FFirstNode CHAR (1), FCreateTime DATETIME)
go
CREATE INDEX IDX_TM_BF_INSTENTRYALL_ID ON #TM_BF_INSTENTRYALL (FRouteId)
go
CREATE INDEX IDX_TM_BF_INSTENTRYALL_INST ON #TM_BF_INSTENTRYALL (FInstanceId)
go
CREATE INDEX IDX_TM_BF_INSTENTRYALL_SID ON #TM_BF_INSTENTRYALL (FSId)
go
CREATE INDEX IDX_TM_BF_INSTENTRYALL_TID ON #TM_BF_INSTENTRYALL (FTId)
go
CREATE TABLE #TM_BF_INSTAMOUNTALL (FDetailId VARCHAR (36), FRouteId VARCHAR (36), FSourceField VARCHAR (30), FTargetField VARCHAR (30), FAmount DECIMAL (23, 10), FCreateTime DATETIME)
go
CREATE INDEX IDX_TM_BF_INSTAMOUNTALL_ID ON #TM_BF_INSTAMOUNTALL (FDetailId)
go
CREATE INDEX IDX_TM_BF_INSTAMOUNTALL_ROUTE ON #TM_BF_INSTAMOUNTALL (FRouteId)
go
INSERT INTO #TM_BF_INSTALL (FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime) SELECT FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime FROM t_BF_Instance WHERE FMasterId IN (SELECT FMasterId FROM #TM_BF_INSTANCEMASTERIDS)
go
INSERT INTO #TM_BF_INSTENTRYALL (FRouteId, FInstanceId, FLineId, FSTableName, FSId, FTTableName, FTId, FFirstNode, FCreateTime) SELECT t0.FRouteId, t0.FInstanceId, t0.FLineId, t0.FSTableName, t0.FSId, t0.FTTableName, t0.FTId, t0.FFirstNode, t0.FCreateTime FROM t_BF_InstanceEntry t0 WHERE t0.FInstanceId IN (SELECT TInst.FInstanceId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_Instance TInst ON TInst.FMasterId = TMaster.FMasterId)
go
INSERT INTO #TM_BF_INSTAMOUNTALL (FDetailId, FRouteId, FSourceField, FTargetField, FAmount, FCreateTime) SELECT FDetailId, FRouteId, CASE  WHEN FSOURCEFIELD = 'A' THEN 'FBaseUnitQty' WHEN FSOURCEFIELD = 'B' THEN 'FQty' WHEN FSOURCEFIELD = 'C' THEN 'FAmount' WHEN FSOURCEFIELD = 'D' THEN 'FBasicUnitQty' WHEN FSOURCEFIELD = 'E' THEN 'FBaseQty' WHEN FSOURCEFIELD = 'F' THEN 'FBaseMustQty' ELSE FSOURCEFIELD END fsourcefield, CASE  WHEN FTARGETFIELD = 'A' THEN 'FBaseUnitQty' WHEN FTARGETFIELD = 'B' THEN 'FQty' WHEN FTARGETFIELD = 'C' THEN 'FAmount' WHEN FTARGETFIELD = 'D' THEN 'FBasicUnitQty' WHEN FTARGETFIELD = 'E' THEN 'FBaseQty' WHEN FTARGETFIELD = 'F' THEN 'FBaseMustQty' ELSE FTARGETFIELD END ftargetfield, FAmount, FCreateTime FROM t_BF_InstanceAmount WHERE FRouteId IN (SELECT TEntry.FRouteId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_Instance TInst ON TInst.FMasterId = TMaster.FMasterId INNER JOIN t_BF_InstanceEntry TEntry ON TEntry.FInstanceId = TInst.FInstanceId)
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT T_BOS_COMPUTETASK.FExecutorType, T_BOS_COMPUTETASK.FProperties, T_BOS_COMPUTETASK.FBOSContext, T_BOS_COMPUTETASK.FLog, T_BOS_COMPUTETASK.FComputeId, T_BOS_COMPUTETASK.FTitle, T_BOS_COMPUTETASK.FPriority, T_BOS_COMPUTETASK.FStatus, T_BOS_COMPUTETASK.FProgress, T_BOS_COMPUTETASK.FOriginatorId, T_BOS_COMPUTETASK.FComputeSource FROM T_BOS_COMPUTETASK WHERE (T_BOS_COMPUTETASK.FSTATUS = 1 AND T_BOS_COMPUTETASK.FCOMPUTESOURCE = 'PC-20180627CLRE') SET NO_BROWSETABLE OFF;
go
INSERT INTO #TM_BF_INSTALL (FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime) SELECT FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime FROM t_BF_InstanceHis WHERE FMasterId IN (SELECT FMasterId FROM #TM_BF_INSTANCEMASTERIDS)
go
INSERT INTO #TM_BF_INSTENTRYALL (FRouteId, FInstanceId, FLineId, FSTableName, FSId, FTTableName, FTId, FFirstNode, FCreateTime) SELECT t0.FRouteId, t0.FInstanceId, t0.FLineId, ISNULL(t1.FTableNumber, ' ') fstablename, t0.FSId, ISNULL(t2.FTableNumber, ' ') fttablename, t0.FTId, t0.FFirstNode, t0.FCreateTime FROM t_BF_InstanceEntryHis t0 LEFT OUTER JOIN t_BF_TableDefine t1 ON (t0.FSTableId = t1.FSeq AND (t1.FSeq <> 0)) LEFT OUTER JOIN t_BF_TableDefine t2 ON (t0.FTTableId = t2.FSeq AND (t2.FSeq <> 0)) WHERE t0.FInstanceId IN (SELECT TInst.FInstanceId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_InstanceHis TInst ON TInst.FMasterId = TMaster.FMasterId)
go
INSERT INTO #TM_BF_INSTAMOUNTALL (FDetailId, FRouteId, FSourceField, FTargetField, FAmount, FCreateTime) SELECT FDetailId, FRouteId, CASE  WHEN FSOURCEFIELD = 'A' THEN 'FBaseUnitQty' WHEN FSOURCEFIELD = 'B' THEN 'FQty' WHEN FSOURCEFIELD = 'C' THEN 'FAmount' WHEN FSOURCEFIELD = 'D' THEN 'FBasicUnitQty' WHEN FSOURCEFIELD = 'E' THEN 'FBaseQty' WHEN FSOURCEFIELD = 'F' THEN 'FBaseMustQty' ELSE FSOURCEFIELD END fsourcefield, CASE  WHEN FTARGETFIELD = 'A' THEN 'FBaseUnitQty' WHEN FTARGETFIELD = 'B' THEN 'FQty' WHEN FTARGETFIELD = 'C' THEN 'FAmount' WHEN FTARGETFIELD = 'D' THEN 'FBasicUnitQty' WHEN FTARGETFIELD = 'E' THEN 'FBaseQty' WHEN FTARGETFIELD = 'F' THEN 'FBaseMustQty' ELSE FTARGETFIELD END ftargetfield, FAmount, FCreateTime FROM t_BF_InstanceAmountHis WHERE FRouteId IN (SELECT TEntry.FRouteId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_InstanceHis TInst ON TInst.FMasterId = TMaster.FMasterId INNER JOIN t_BF_InstanceEntryHis TEntry ON TEntry.FInstanceId = TInst.FInstanceId)
go
INSERT INTO #TM_BF_INSTALL (FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime) SELECT FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime FROM t_BF_InstBackUp WHERE FMasterId IN (SELECT FMasterId FROM #TM_BF_INSTANCEMASTERIDS)
go
INSERT INTO #TM_BF_INSTENTRYALL (FRouteId, FInstanceId, FLineId, FSTableName, FSId, FTTableName, FTId, FFirstNode, FCreateTime) SELECT t0.FRouteId, t0.FInstanceId, t0.FLineId, ISNULL(t1.FTableNumber, ' ') fstablename, t0.FSId, ISNULL(t2.FTableNumber, ' ') fttablename, t0.FTId, t0.FFirstNode, t0.FCreateTime FROM t_BF_InstEntryBackUp t0 LEFT OUTER JOIN t_BF_TableDefine t1 ON (t0.FSTableId = t1.FSeq AND (t1.FSeq <> 0)) LEFT OUTER JOIN t_BF_TableDefine t2 ON (t0.FTTableId = t2.FSeq AND (t2.FSeq <> 0)) WHERE t0.FInstanceId IN (SELECT TInst.FInstanceId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_InstBackUp TInst ON TInst.FMasterId = TMaster.FMasterId)
go
INSERT INTO #TM_BF_INSTAMOUNTALL (FDetailId, FRouteId, FSourceField, FTargetField, FAmount, FCreateTime) SELECT FDetailId, FRouteId, CASE  WHEN FSOURCEFIELD = 'A' THEN 'FBaseUnitQty' WHEN FSOURCEFIELD = 'B' THEN 'FQty' WHEN FSOURCEFIELD = 'C' THEN 'FAmount' WHEN FSOURCEFIELD = 'D' THEN 'FBasicUnitQty' WHEN FSOURCEFIELD = 'E' THEN 'FBaseQty' WHEN FSOURCEFIELD = 'F' THEN 'FBaseMustQty' ELSE FSOURCEFIELD END fsourcefield, CASE  WHEN FTARGETFIELD = 'A' THEN 'FBaseUnitQty' WHEN FTARGETFIELD = 'B' THEN 'FQty' WHEN FTARGETFIELD = 'C' THEN 'FAmount' WHEN FTARGETFIELD = 'D' THEN 'FBasicUnitQty' WHEN FTARGETFIELD = 'E' THEN 'FBaseQty' WHEN FTARGETFIELD = 'F' THEN 'FBaseMustQty' ELSE FTARGETFIELD END ftargetfield, FAmount, FCreateTime FROM t_BF_InstAmountBackUp WHERE FRouteId IN (SELECT TEntry.FRouteId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_InstBackUp TInst ON TInst.FMasterId = TMaster.FMasterId INNER JOIN t_BF_InstEntryBackUp TEntry ON TEntry.FInstanceId = TInst.FInstanceId)
go
DROP TABLE #TM_BF_INSTANCEMASTERIDS
go
DROP TABLE #TM_BF_INSTALL
go
DROP TABLE #TM_BF_INSTENTRYALL
go
DROP TABLE #TM_BF_INSTAMOUNTALL
go
CREATE TABLE TMP63B7938EB56D11E89350E4F89CE (FENTRYID INT, FTARGETENTRYID INT, FDELETEFLAG CHAR (1) DEFAULT '0', FQTY DECIMAL (23, 10), FCOSTPRICE DECIMAL (23, 10), FCURRENCYID INT, FJOINTYPE VARCHAR (10), FTYPE VARCHAR (10))
go
select @@trancount; SET FMTONLY ON select * from TMP63B7938EB56D11E89350E4F89CE SET FMTONLY OFF exec ..sp_tablecollations_100 N'.[TMP63B7938EB56D11E89350E4F89CE]'
go
insert bulk TMP63B7938EB56D11E89350E4F89CE ([FENTRYID] Int, [FTARGETENTRYID] Int, [FQTY] Decimal(23,10), [FCOSTPRICE] Decimal(23,10), [FCURRENCYID] Int, [FJOINTYPE] VarChar(10) COLLATE Chinese_PRC_CI_AS, [FTYPE] VarChar(10) COLLATE Chinese_PRC_CI_AS) with (CHECK_CONSTRAINTS)
go
IF NOT EXISTS (SELECT 1 FROM (SELECT SYSOBJECTS.NAME AS TABLE_NAME, SYSINDEXES.NAME AS INDEX_NAME FROM SYSOBJECTS INNER JOIN SYSINDEXES ON SYSINDEXES.ID = SYSOBJECTS.ID) AS KSQL_INDEXES WHERE INDEX_NAME = 'idx_tempThirdTable_FENTRYID')
BEGIN
CREATE INDEX idx_tempThirdTable_FENTRYID ON TMP63B7938EB56D11E89350E4F89CE (FENTRYID)
END

go
UPDATE T0 SET T0.FCOSTPRICE = T1.FCOSTPRICE, T0.FCURRENCYID = T2.FLOCALCURRID FROM TMP63B7938EB56D11E89350E4F89CE T0, T_SAL_OUTSTOCKENTRY_F T1 INNER JOIN t_Sal_OutstockFIN T2 ON T1.FID = T2.FID WHERE (T0.FTARGETENTRYID = T1.FEntryID AND T0.FJOINTYPE = 'OUTBILL')
go
UPDATE T0 SET T0.FCOSTPRICE = -1 * T1.FCOSTPRICE, T0.FCURRENCYID = T2.FLOCALCURRID FROM TMP63B7938EB56D11E89350E4F89CE T0, T_SAL_RETURNSTOCKENTRY_F T1 INNER JOIN t_Sal_ReturnstockFIN T2 ON T1.FID = T2.FID WHERE (T0.FTARGETENTRYID = T1.FEntryID AND T0.FJOINTYPE = 'RETURNBILL')
go
UPDATE T0 SET T0.FCURRENCYID = T1.FMAINBOOKSTDCURRID FROM TMP63B7938EB56D11E89350E4F89CE T0, T_AP_PAYABLEFIN T1 INNER JOIN T_AP_PAYABLEENTRY T2 ON T1.FID = T2.FID WHERE (T0.FTARGETENTRYID = T2.FEntryID AND T0.FJOINTYPE = 'PAYBILL')
go
UPDATE TMP63B7938EB56D11E89350E4F89CE SET FDELETEFLAG = '1' WHERE EXISTS (SELECT 1 FROM TMP63B7938DB56D11E89350E4F89CE T2 WHERE ((TMP63B7938EB56D11E89350E4F89CE.FENTRYID = T2.FENTRYID AND TMP63B7938EB56D11E89350E4F89CE.FTYPE = T2.FTYPE) AND (TMP63B7938EB56D11E89350E4F89CE.FCURRENCYID <> T2.FCURRENCYID)))
go
DELETE FROM TMP63B7938DB56D11E89350E4F89CE WHERE EXISTS (SELECT 1 FROM TMP63B7938EB56D11E89350E4F89CE T2 WHERE (((TMP63B7938DB56D11E89350E4F89CE.FENTRYID = T2.FENTRYID AND TMP63B7938DB56D11E89350E4F89CE.FTYPE = T2.FTYPE) AND T2.FDELETEFLAG = '0') AND (TMP63B7938DB56D11E89350E4F89CE.FCURRENCYID <> T2.FCURRENCYID)))
go
UPDATE T0 SET FCOST = (FCOST + (SELECT SUM(T1.FQty * T1.FCostPrice) FROM TMP63B7938EB56D11E89350E4F89CE T1 WHERE (T0.FENTRYID = T1.FENTRYID AND T0.FTYPE = T1.FTYPE) GROUP BY T1.FENTRYID, T1.FType)) FROM TMP63B7938DB56D11E89350E4F89CE T0  WHERE EXISTS (SELECT 1 FROM TMP63B7938EB56D11E89350E4F89CE T2 WHERE (T0.FENTRYID = T2.FENTRYID AND T0.FTYPE = T2.FTYPE))
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT A.FTARGETENTRYID fentryid FROM T_AR_BILLINGMATCHLOGENTRY A WHERE (A.FISADIBILL = '1' AND A.FTARGETFROMID = 'AR_receivable') SET NO_BROWSETABLE OFF;
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT GETDATE() SET NO_BROWSETABLE OFF;
go
CREATE TABLE #TM_BF_INSTANCEMASTERIDS (FMASTERID VARCHAR (36))
go
CREATE TABLE #TM_BF_TARGETENTITYIDS (FID INT)
go
CREATE INDEX IDX_#TM_BF_TARGETENTITYIDS ON #TM_BF_TARGETENTITYIDS (FID)
go
CREATE INDEX IDX_TM_BF_INSTANCEMASTERIDS ON #TM_BF_INSTANCEMASTERIDS (FMASTERID)
go
DROP TABLE #TM_BF_TARGETENTITYIDS
go
CREATE TABLE #TM_BF_INSTALL (FInstanceId VARCHAR (36), FFlowId VARCHAR (36), FSourceId VARCHAR (36), FMasterId VARCHAR (36), FStatus CHAR (1), FFirstFormId VARCHAR (36), FFirstBillId BIGINT, FFirstBillNo VARCHAR (80), FStartTime DATETIME)
go
CREATE INDEX IDX_TM_INSTALL_ID ON #TM_BF_INSTALL (FInstanceId)
go
CREATE INDEX IDX_TM_INSTALL_MASTERID ON #TM_BF_INSTALL (FMasterId)
go
CREATE TABLE #TM_BF_INSTENTRYALL (FRouteId VARCHAR (36), FInstanceId VARCHAR (36), FLineId INT, FSTableName VARCHAR (36), FSId BIGINT, FTTableName VARCHAR (36), FTId BIGINT, FFirstNode CHAR (1), FCreateTime DATETIME)
go
CREATE INDEX IDX_TM_BF_INSTENTRYALL_ID ON #TM_BF_INSTENTRYALL (FRouteId)
go
CREATE INDEX IDX_TM_BF_INSTENTRYALL_INST ON #TM_BF_INSTENTRYALL (FInstanceId)
go
CREATE INDEX IDX_TM_BF_INSTENTRYALL_SID ON #TM_BF_INSTENTRYALL (FSId)
go
CREATE INDEX IDX_TM_BF_INSTENTRYALL_TID ON #TM_BF_INSTENTRYALL (FTId)
go
CREATE TABLE #TM_BF_INSTAMOUNTALL (FDetailId VARCHAR (36), FRouteId VARCHAR (36), FSourceField VARCHAR (30), FTargetField VARCHAR (30), FAmount DECIMAL (23, 10), FCreateTime DATETIME)
go
CREATE INDEX IDX_TM_BF_INSTAMOUNTALL_ID ON #TM_BF_INSTAMOUNTALL (FDetailId)
go
CREATE INDEX IDX_TM_BF_INSTAMOUNTALL_ROUTE ON #TM_BF_INSTAMOUNTALL (FRouteId)
go
INSERT INTO #TM_BF_INSTALL (FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime) SELECT FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime FROM t_BF_Instance WHERE FMasterId IN (SELECT FMasterId FROM #TM_BF_INSTANCEMASTERIDS)
go
INSERT INTO #TM_BF_INSTENTRYALL (FRouteId, FInstanceId, FLineId, FSTableName, FSId, FTTableName, FTId, FFirstNode, FCreateTime) SELECT t0.FRouteId, t0.FInstanceId, t0.FLineId, t0.FSTableName, t0.FSId, t0.FTTableName, t0.FTId, t0.FFirstNode, t0.FCreateTime FROM t_BF_InstanceEntry t0 WHERE t0.FInstanceId IN (SELECT TInst.FInstanceId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_Instance TInst ON TInst.FMasterId = TMaster.FMasterId)
go
INSERT INTO #TM_BF_INSTAMOUNTALL (FDetailId, FRouteId, FSourceField, FTargetField, FAmount, FCreateTime) SELECT FDetailId, FRouteId, CASE  WHEN FSOURCEFIELD = 'A' THEN 'FBaseUnitQty' WHEN FSOURCEFIELD = 'B' THEN 'FQty' WHEN FSOURCEFIELD = 'C' THEN 'FAmount' WHEN FSOURCEFIELD = 'D' THEN 'FBasicUnitQty' WHEN FSOURCEFIELD = 'E' THEN 'FBaseQty' WHEN FSOURCEFIELD = 'F' THEN 'FBaseMustQty' ELSE FSOURCEFIELD END fsourcefield, CASE  WHEN FTARGETFIELD = 'A' THEN 'FBaseUnitQty' WHEN FTARGETFIELD = 'B' THEN 'FQty' WHEN FTARGETFIELD = 'C' THEN 'FAmount' WHEN FTARGETFIELD = 'D' THEN 'FBasicUnitQty' WHEN FTARGETFIELD = 'E' THEN 'FBaseQty' WHEN FTARGETFIELD = 'F' THEN 'FBaseMustQty' ELSE FTARGETFIELD END ftargetfield, FAmount, FCreateTime FROM t_BF_InstanceAmount WHERE FRouteId IN (SELECT TEntry.FRouteId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_Instance TInst ON TInst.FMasterId = TMaster.FMasterId INNER JOIN t_BF_InstanceEntry TEntry ON TEntry.FInstanceId = TInst.FInstanceId)
go
INSERT INTO #TM_BF_INSTALL (FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime) SELECT FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime FROM t_BF_InstanceHis WHERE FMasterId IN (SELECT FMasterId FROM #TM_BF_INSTANCEMASTERIDS)
go
INSERT INTO #TM_BF_INSTENTRYALL (FRouteId, FInstanceId, FLineId, FSTableName, FSId, FTTableName, FTId, FFirstNode, FCreateTime) SELECT t0.FRouteId, t0.FInstanceId, t0.FLineId, ISNULL(t1.FTableNumber, ' ') fstablename, t0.FSId, ISNULL(t2.FTableNumber, ' ') fttablename, t0.FTId, t0.FFirstNode, t0.FCreateTime FROM t_BF_InstanceEntryHis t0 LEFT OUTER JOIN t_BF_TableDefine t1 ON (t0.FSTableId = t1.FSeq AND (t1.FSeq <> 0)) LEFT OUTER JOIN t_BF_TableDefine t2 ON (t0.FTTableId = t2.FSeq AND (t2.FSeq <> 0)) WHERE t0.FInstanceId IN (SELECT TInst.FInstanceId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_InstanceHis TInst ON TInst.FMasterId = TMaster.FMasterId)
go
INSERT INTO #TM_BF_INSTAMOUNTALL (FDetailId, FRouteId, FSourceField, FTargetField, FAmount, FCreateTime) SELECT FDetailId, FRouteId, CASE  WHEN FSOURCEFIELD = 'A' THEN 'FBaseUnitQty' WHEN FSOURCEFIELD = 'B' THEN 'FQty' WHEN FSOURCEFIELD = 'C' THEN 'FAmount' WHEN FSOURCEFIELD = 'D' THEN 'FBasicUnitQty' WHEN FSOURCEFIELD = 'E' THEN 'FBaseQty' WHEN FSOURCEFIELD = 'F' THEN 'FBaseMustQty' ELSE FSOURCEFIELD END fsourcefield, CASE  WHEN FTARGETFIELD = 'A' THEN 'FBaseUnitQty' WHEN FTARGETFIELD = 'B' THEN 'FQty' WHEN FTARGETFIELD = 'C' THEN 'FAmount' WHEN FTARGETFIELD = 'D' THEN 'FBasicUnitQty' WHEN FTARGETFIELD = 'E' THEN 'FBaseQty' WHEN FTARGETFIELD = 'F' THEN 'FBaseMustQty' ELSE FTARGETFIELD END ftargetfield, FAmount, FCreateTime FROM t_BF_InstanceAmountHis WHERE FRouteId IN (SELECT TEntry.FRouteId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_InstanceHis TInst ON TInst.FMasterId = TMaster.FMasterId INNER JOIN t_BF_InstanceEntryHis TEntry ON TEntry.FInstanceId = TInst.FInstanceId)
go
INSERT INTO #TM_BF_INSTALL (FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime) SELECT FInstanceId, FFlowId, FSourceId, FMasterId, FStatus, FStartTime FROM t_BF_InstBackUp WHERE FMasterId IN (SELECT FMasterId FROM #TM_BF_INSTANCEMASTERIDS)
go
INSERT INTO #TM_BF_INSTENTRYALL (FRouteId, FInstanceId, FLineId, FSTableName, FSId, FTTableName, FTId, FFirstNode, FCreateTime) SELECT t0.FRouteId, t0.FInstanceId, t0.FLineId, ISNULL(t1.FTableNumber, ' ') fstablename, t0.FSId, ISNULL(t2.FTableNumber, ' ') fttablename, t0.FTId, t0.FFirstNode, t0.FCreateTime FROM t_BF_InstEntryBackUp t0 LEFT OUTER JOIN t_BF_TableDefine t1 ON (t0.FSTableId = t1.FSeq AND (t1.FSeq <> 0)) LEFT OUTER JOIN t_BF_TableDefine t2 ON (t0.FTTableId = t2.FSeq AND (t2.FSeq <> 0)) WHERE t0.FInstanceId IN (SELECT TInst.FInstanceId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_InstBackUp TInst ON TInst.FMasterId = TMaster.FMasterId)
go
INSERT INTO #TM_BF_INSTAMOUNTALL (FDetailId, FRouteId, FSourceField, FTargetField, FAmount, FCreateTime) SELECT FDetailId, FRouteId, CASE  WHEN FSOURCEFIELD = 'A' THEN 'FBaseUnitQty' WHEN FSOURCEFIELD = 'B' THEN 'FQty' WHEN FSOURCEFIELD = 'C' THEN 'FAmount' WHEN FSOURCEFIELD = 'D' THEN 'FBasicUnitQty' WHEN FSOURCEFIELD = 'E' THEN 'FBaseQty' WHEN FSOURCEFIELD = 'F' THEN 'FBaseMustQty' ELSE FSOURCEFIELD END fsourcefield, CASE  WHEN FTARGETFIELD = 'A' THEN 'FBaseUnitQty' WHEN FTARGETFIELD = 'B' THEN 'FQty' WHEN FTARGETFIELD = 'C' THEN 'FAmount' WHEN FTARGETFIELD = 'D' THEN 'FBasicUnitQty' WHEN FTARGETFIELD = 'E' THEN 'FBaseQty' WHEN FTARGETFIELD = 'F' THEN 'FBaseMustQty' ELSE FTARGETFIELD END ftargetfield, FAmount, FCreateTime FROM t_BF_InstAmountBackUp WHERE FRouteId IN (SELECT TEntry.FRouteId FROM #TM_BF_INSTANCEMASTERIDS TMaster INNER JOIN t_BF_InstBackUp TInst ON TInst.FMasterId = TMaster.FMasterId INNER JOIN t_BF_InstEntryBackUp TEntry ON TEntry.FInstanceId = TInst.FInstanceId)
go
INSERT INTO TMP63B7938FB56D11E89350E4F89CE SELECT AdjTable.* FROM (SELECT DISTINCT A.FSRCBillNo fadjustbillno, A.FTARGETBILLNO fadjustfromarbillno, CASE  WHEN (ins2.FTTABLENAME = 'T_SAL_ORDERENTRY' AND so.FBILLTYPEID = '7e206b700d1343b5b60e20b992c84469') THEN 'STRAIGHT' WHEN ins2.FTTABLENAME = 'T_SAL_ORDERENTRY' THEN 'NORMAL' WHEN ins2.FTTABLENAME = 'T_SAL_OUTSTOCKENTRY' THEN 'STOCK' WHEN ins2.FTTABLENAME = 'T_SAL_RETURNSTOCKENTRY' THEN 'RETURNSTOCK' WHEN ins2.FTTABLENAME = 't_AR_receivableEntry' THEN 'AR' END ftype, Ins2.FTID ffirstsourceentryid, (A.FENTRYTAXRATE * A.FEXCHANGERATE) famount FROM T_AR_BILLINGMATCHLOGENTRY A INNER JOIN T_BF_TABLEDEFINE TD ON TD.FFORMID = A.FTARGETFROMID INNER JOIN #TM_BF_INSTENTRYALL Ins1 ON (A.Ftargetentryid = Ins1.FTID AND ins1.FTTABLENAME = TD.FTABLENUMBER) LEFT OUTER JOIN #TM_BF_INSTALL InsHead ON InsHead.FINSTANCEID = Ins1.FINSTANCEID LEFT OUTER JOIN #TM_BF_INSTENTRYALL Ins2 ON (InsHead.Fmasterid = Ins2.FINSTANCEID AND ins2.FSID = 0) LEFT OUTER JOIN T_SAL_ORDERENTRY SOE ON (SOE.FENTRYID = ins2.FTID AND ins2.FTTABLENAME = 'T_SAL_ORDERENTRY') LEFT OUTER JOIN T_SAL_ORDER SO ON SO.FID = SOE.FID WHERE (A.fisadibill = '1' AND A.FTARGETFROMID = 'AR_receivable')) adjtable INNER JOIN TMP63B7938DB56D11E89350E4F89CE SecTable ON (AdjTable.FFirstSourceEntryId = SecTable.FEntryId AND AdjTable.FType = SecTable.FType)
go
INSERT INTO TMP63B7938FB56D11E89350E4F89CE SELECT AdjTable.* FROM (SELECT DISTINCT A.FSRCBillNo fadjustbillno, A.FTARGETBILLNO fadjustfromarbillno, CASE  WHEN TARD.FBizFormid = 'SAL_OUTSTOCK' THEN 'STOCK_INNER' WHEN TARD.FBizFormid = 'SAL_RETURNSTOCK' THEN 'RETURNSTOCK_INNER' END ftype, TARD.FSRCENTRYID ffirstsourceentryid, (A.FENTRYTAXRATE * A.FEXCHANGERATE) famount FROM T_AR_BILLINGMATCHLOGENTRY A INNER JOIN T_AR_RECEIVABLEENTRY_LK B ON ((A.Ftargetentryid = B.fentryid AND A.fisadibill = '1') AND A.FTARGETFROMID = 'AR_receivable') INNER JOIN T_IOS_ARSETTLEMENTDETAIL TARD ON TARD.FDetailid = B.FSID) adjtable INNER JOIN TMP63B7938DB56D11E89350E4F89CE SecTable ON (AdjTable.FFirstSourceEntryId = SecTable.FEntryId AND AdjTable.FType = SecTable.FType)
go
UPDATE TMP63B7938DB56D11E89350E4F89CE SET FSALRECEIPT = TMP63B7938DB56D11E89350E4F89CE.FSALRECEIPT + T2.FAdjAmount FROM (SELECT SUM(TMP63B7938FB56D11E89350E4F89CE.FAmount) fadjamount, TMP63B7938FB56D11E89350E4F89CE.FType, TMP63B7938FB56D11E89350E4F89CE.FFirstSourceEntryId FROM TMP63B7938FB56D11E89350E4F89CE GROUP BY TMP63B7938FB56D11E89350E4F89CE.FType, TMP63B7938FB56D11E89350E4F89CE.FFirstSourceEntryId) t2 WHERE (TMP63B7938DB56D11E89350E4F89CE.FType = T2.FType AND TMP63B7938DB56D11E89350E4F89CE.FEntryId = T2.FFirstSourceEntryId)
go
UPDATE TMP63B7938DB56D11E89350E4F89CE SET FPRICE = CASE  WHEN FSALQTY = 0 THEN 0 ELSE (FSALRECEIPT / FSALQTY) END, FPERCOST = CASE  WHEN FOUTSTOCKQTY = 0 THEN 0 ELSE (FCOST / FOUTSTOCKQTY) END, FSALPROFIT = (FSALRECEIPT - FCOST), FSALPROFITRATE = (CASE  WHEN FSALRECEIPT = 0 THEN 0 ELSE ((FSALRECEIPT - FCOST) / FSALRECEIPT) END * 100)
go
DROP TABLE #TM_BF_INSTANCEMASTERIDS
go
DROP TABLE #TM_BF_INSTALL
go
DROP TABLE #TM_BF_INSTENTRYALL
go
DROP TABLE #TM_BF_INSTAMOUNTALL
go
SELECT DISTINCT FSALORGNUMBER FROM TMP63B7938DB56D11E89350E4F89CE WHERE ((FSALRECEIPT + FCOST) <> 0)
go
UPDATE TMP63B7938DB56D11E89350E4F89CE SET FPRICE = CASE  WHEN FSALQTY = 0 THEN 0 ELSE (FSALRECEIPT / FSALQTY) END, FSALPROFIT = (FSALRECEIPT - FCOST), FSALPROFITRATE = (CASE  WHEN FSALRECEIPT = 0 THEN 0 ELSE ((FSALRECEIPT - FCOST) / FSALRECEIPT) END * 100)
go
SELECT FTYPE, FFORMID, FBILLID, FENTRYID, FCUSTOMERNUMBER, FCUSTOMERNAME, FCUSTCOUNTRY, FCUSTDIST, FCUSTGROUP, FCUSTTYPE, FMATERIALNUMBER, FMATERIALNAME, FLOT, FMATERIALGROUP, FMODEL, FAUXPROPID, FAUXPROP, FSALUNITNAME, FSALEDEPTID, FQTYDECIMAL, 2 fratedecimal, FSALORGNUMBER, FSALORGNAME, FSALGROUPNUMBER, FSALGROUPNAME, FSALDEPTNUMBER, FSALEORGID, FSALEGROUPID, FCURRENCYID, FSALDEPTNAME, FSALERNUMBER, FSALERNAME, FBILLTYPEID, FBILLTYPE, FBILLNO, FCURRENCY, FPRICEDECIMAL, FAMOUNTDECIMAL, FSALERID, FCUSTID, FMATERIALID, FSALQTY, FOUTSTOCKQTY, FSALRECEIPT, FCOST, FPRICE, FPERCOST, FSALPROFIT, FSALPROFITRATE, FBASEUNITID, FBASEUNITNAME, FBASEORDERQTY, FBASESTOCKQTY, FBASESALEPRICE, FBASEPRECOST, ROW_NUMBER() OVER( ORDER BY FSALORGNAME ASC) fidentityid INTO TMP63B79391B56D11E89350E4F89CE FROM TMP63B7938DB56D11E89350E4F89CE WHERE ((1 = 1 AND (((FSALRECEIPT + FCOST) <> 0) AND FISFREE = 0)) OR (FISFREE = 1 AND FBILLNO IN (SELECT FBILLNO FROM TMP63B7938DB56D11E89350E4F89CE WHERE ((FSALRECEIPT + FCOST) <> 0))))
go
TRUNCATE TABLE TMP63B7938CB56D11E89350E4F89CE
go
TRUNCATE TABLE TMP63B7938DB56D11E89350E4F89CE
go
IF EXISTS (SELECT 1 FROM (SELECT NAME AS TABLE_NAME, XTYPE AS TABLE_XTYPE FROM SYSOBJECTS WHERE XTYPE = 'U' OR XTYPE = 'V') AS KSQL_USERTABLES WHERE TABLE_NAME = UPPER('TMP63B79391B56D11E89350E4F89CE'))
BEGIN
CREATE INDEX IDX_TMP63B79391B5 ON TMP63B79391B56D11E89350E4F89CE (FIDENTITYID)
END

go
SELECT t0_L.FNAME fname, t0.FNUMBER fnumber FROM T_ORG_Organizations t0 LEFT OUTER JOIN T_ORG_Organizations_L t0_L ON (t0.FORGID = t0_L.FORGID AND t0_L.FLocaleId = 2052) WHERE (t0.FORGID IN (100003, 100002, 100004, 100005, 100006, 121009) AND FLOCALEID = 2052)
go
SELECT TOP 1 * FROM TMP63B79391B56D11E89350E4F89CE WHERE (1 <> 1)
go
SELECT TOP 1 * FROM TMP63B79391B56D11E89350E4F89CE
go
SELECT A.* INTO TMP63B79393B56D11E89350E4F89CE FROM (SELECT DISTINCT A.FTYPE, A.FFORMID, A.FBILLID, A.FENTRYID, A.FCUSTOMERNUMBER, A.FCUSTOMERNAME, A.FCUSTCOUNTRY, A.FCUSTDIST, A.FCUSTGROUP, A.FCUSTTYPE, A.FMATERIALNUMBER, A.FMATERIALNAME, A.FLOT, A.FMATERIALGROUP, A.FMODEL, A.FAUXPROPID, A.FAUXPROP, A.FSALUNITNAME, A.FSALEDEPTID, A.FQTYDECIMAL, A.fratedecimal, A.FSALORGNAME, A.FSALGROUPNUMBER, A.FSALGROUPNAME, A.FSALDEPTNUMBER, A.FSALEORGID, A.FSALEGROUPID, A.FCURRENCYID, A.FSALDEPTNAME, A.FSALERNUMBER, A.FSALERNAME, A.FBILLTYPEID, A.FBILLTYPE, A.FBILLNO, A.FCURRENCY, A.FPRICEDECIMAL, A.FAMOUNTDECIMAL, A.FSALERID, A.FCUSTID, A.FMATERIALID, A.FBASEUNITID, A.FBASEUNITNAME, FIDENTITYID fidentityid2, A.FSALQTY, A.FOUTSTOCKQTY, A.FSALRECEIPT, A.FCOST, A.FPRICE, A.FPERCOST, A.FSALPROFIT, A.FSALPROFITRATE, A.FBASEORDERQTY, A.FBASESTOCKQTY, A.FBASESALEPRICE, A.FBASEPRECOST, A.FSALORGNUMBER, 0 fgrouplevel, -1 fgrouping FROM TMP63B79391B56D11E89350E4F89CE A UNION ALL SELECT NULL ftype, NULL fformid, NULL fbillid, NULL fentryid, NULL fcustomernumber, NULL fcustomername, NULL fcustcountry, NULL fcustdist, NULL fcustgroup, NULL fcusttype, NULL fmaterialnumber, NULL fmaterialname, NULL flot, NULL fmaterialgroup, NULL fmodel, NULL fauxpropid, NULL fauxprop, NULL fsalunitname, NULL fsaledeptid, NULL fqtydecimal, NULL fratedecimal, NULL fsalorgname, NULL fsalgroupnumber, NULL fsalgroupname, NULL fsaldeptnumber, NULL fsaleorgid, NULL fsalegroupid, NULL fcurrencyid, NULL fsaldeptname, NULL fsalernumber, NULL fsalername, NULL fbilltypeid, NULL fbilltype, NULL fbillno, NULL fcurrency, NULL fpricedecimal, NULL famountdecimal, NULL fsalerid, NULL fcustid, NULL fmaterialid, NULL fbaseunitid, NULL fbaseunitname, NULL fidentityid2, A.FSALQTY, A.FOUTSTOCKQTY, A.FSALRECEIPT, A.FCOST, A.FPRICE, A.FPERCOST, A.FSALPROFIT, A.FSALPROFITRATE, A.FBASEORDERQTY, A.FBASESTOCKQTY, A.FBASESALEPRICE, A.FBASEPRECOST, A.FSALORGNUMBER, FGROUPLEVEL, FGROUPING FROM (SELECT FSALORGNUMBER, ROW_NUMBER() OVER(PARTITION BY FSALORGNUMBER ORDER BY FSALORGNUMBER ASC) fgrouplevel, GROUPING(FSALORGNUMBER) fgrouping, SUM(FSALQTY) fsalqty, SUM(FOUTSTOCKQTY) foutstockqty, SUM(FSALRECEIPT) fsalreceipt, SUM(FCOST) fcost, ROUND(AVG(FPRICE), 10) fprice, ROUND(AVG(FPERCOST), 10) fpercost, SUM(FSALPROFIT) fsalprofit, SUM(FBASEORDERQTY) fbaseorderqty, SUM(FBASESTOCKQTY) fbasestockqty, SUM(FBASESALEPRICE) fbasesaleprice, SUM(FBASEPRECOST) fbaseprecost, ROUND(((SUM(FSALPROFIT) * 100) / CASE  WHEN SUM(FSALRECEIPT) = 0 THEN 1 ELSE SUM(FSALRECEIPT) END), 10) fsalprofitrate FROM TMP63B79391B56D11E89350E4F89CE F GROUP BY FSALORGNUMBER WITH ROLLUP) a) a ORDER BY A.FIDENTITYID2 ASC
go
SELECT C.*, ROW_NUMBER() OVER( ORDER BY CASE  WHEN (FSALORGNUMBER IS NULL) THEN 1 ELSE 0 END ASC, FSALORGNUMBER ASC, FGROUPLEVEL ASC, FIDENTITYID2 ASC) fidentityid INTO TMP63B79392B56D11E89350E4F89CE FROM (SELECT A.* FROM TMP63B79393B56D11E89350E4F89CE A) c ORDER BY CASE  WHEN (FSALORGNUMBER IS NULL) THEN 1 ELSE 0 END ASC, FSALORGNUMBER ASC, FGROUPLEVEL ASC, FIDENTITYID2 ASC OPTION ( MAXDOP 0)
go
IF EXISTS (SELECT 1 FROM (SELECT NAME AS TABLE_NAME, XTYPE AS TABLE_XTYPE FROM SYSOBJECTS WHERE XTYPE = 'U' OR XTYPE = 'V') AS KSQL_USERTABLES WHERE TABLE_NAME = UPPER('TMP63B79392B56D11E89350E4F89CE'))
BEGIN
CREATE INDEX IDX_TMP63B79392B5 ON TMP63B79392B56D11E89350E4F89CE (FIDENTITYID)
END

go
if exists(select 1 from sys.tables where name='TMP63B79391B56D11E89350E4F89CE')
                        begin
                            Truncate table TMP63B79391B56D11E89350E4F89CE
                            Drop table TMP63B79391B56D11E89350E4F89CE 
                        end;
/*dialect*/if exists(select 1 from sys.tables where name='TMP63B79393B56D11E89350E4F89CE')
                        begin
                            Truncate table TMP63B79393B56D11E89350E4F89CE
                            Drop table TMP63B79393B56D11E89350E4F89CE 
                        end;

go
SELECT * FROM TMP63B79392B56D11E89350E4F89CE WHERE (FIDENTITYID BETWEEN 1 AND 100) OPTION ( MAXDOP 0)
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT ISNULL(COUNT(1), 0) fcount FROM TMP63B79392B56D11E89350E4F89CE SET NO_BROWSETABLE OFF;
go
SELECT MAX(FQTYDECIMAL) fqtydecimal, MAX(FAMOUNTDECIMAL) famountdecimal, MAX(FPRICEDECIMAL) fpricedecimal, MAX(FRATEDECIMAL) fratedecimal, MAX(FBASEPRECOST) fbaseprecost FROM TMP63B79392B56D11E89350E4F89CE
go
/*dialect*/
                        select [elapsed time s], sum([bytes read])/ [elapsed time s]/1024 as [read Kbytes per s],sum([bytes write])/[elapsed time s]/1024 as [write Kbytes per s] from(
                        SELECT
                        DB_NAME([divfs].[database_id]) AS [database] ,
                        [mf].[type_desc] AS [file type] ,
                        mf.[name] AS [file name] ,
                        CONVERT(DECIMAL(16, 3), CONVERT(BIGINT, [mf].[size]) / 128.0) AS [size_mb] ,
                        CONVERT(DECIMAL(10, 2), ( [divfs].[sample_ms] - [t].[sample_ms] ) / 1000.0) AS [elapsed time s] ,
                        [divfs].[num_of_reads] - [t].[num_of_reads] AS [reads] ,
                        [divfs].[num_of_bytes_read] - [t].[num_of_bytes_read] AS [bytes read] ,
                        [divfs].[io_stall_read_ms] - [t].[io_stall_read_ms] AS [stall read] ,
                        CASE WHEN ( [divfs].[io_stall_read_ms] - [t].[io_stall_read_ms] )
                        - ( [divfs].[io_stall_write_ms] - [t].[io_stall_write_ms] ) > 0
                        THEN '<< Read Bias'
                        WHEN ( [divfs].[io_stall_read_ms] - [t].[io_stall_read_ms] )
                        - ( [divfs].[io_stall_write_ms] - [t].[io_stall_write_ms] ) < 0
                        THEN 'Write Bias >>'
                        ELSE '<Balanced>'
                        END AS [Stall Balance] ,
                        CASE WHEN ( [divfs].[num_of_bytes_read] - [t].[num_of_bytes_read] )
                        - ( [divfs].[num_of_bytes_written] - [t].[num_of_bytes_written] ) > 0
                        THEN '<< Read Bias'
                        WHEN ( [divfs].[num_of_bytes_read] - [t].[num_of_bytes_read] )
                        - ( [divfs].[num_of_bytes_written] - [t].[num_of_bytes_written] ) < 0
                        THEN 'Write Bias >>'
                        ELSE '<Balanced>'
                        END AS [Read/Write Balance] ,
                        [divfs].[num_of_writes] - [t].[num_of_writes] AS [writes] ,
                        [divfs].[num_of_bytes_written] - [t].[num_of_bytes_written] AS [bytes write] ,
                        [divfs].[io_stall_write_ms] - [t].[io_stall_write_ms] AS [stall write] ,
                        [divfs].[io_stall] - [t].[io_stall] AS [stall] ,
                        [divfs].[size_on_disk_bytes] - [t].[size_on_disk_bytes] AS [size change]
                        FROM
                        [sys].[dm_io_virtual_file_stats](NULL, NULL) AS divfs
                        INNER JOIN TMP637F92CAB56D11E89350E4F89CE AS t
                        ON
                        [divfs].[database_id] = [t].[database_id]
                        AND [divfs].[file_handle] = [t].[file_handle]
                        INNER JOIN [sys].[master_files] AS mf
                        ON
                        [t].[database_id] = [mf].[database_id]
                        AND [t].[file_id] = [mf].[file_id]
                        )t0 group by [elapsed time s]
go
drop table TMP637F92CAB56D11E89350E4F89CE
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT T_BOS_COMPUTETASK.FExecutorType, T_BOS_COMPUTETASK.FProperties, T_BOS_COMPUTETASK.FBOSContext, T_BOS_COMPUTETASK.FLog, T_BOS_COMPUTETASK.FComputeId, T_BOS_COMPUTETASK.FTitle, T_BOS_COMPUTETASK.FPriority, T_BOS_COMPUTETASK.FStatus, T_BOS_COMPUTETASK.FProgress, T_BOS_COMPUTETASK.FOriginatorId, T_BOS_COMPUTETASK.FComputeSource FROM T_BOS_COMPUTETASK WHERE (T_BOS_COMPUTETASK.FSTATUS = 1 AND T_BOS_COMPUTETASK.FCOMPUTESOURCE = 'PC-20180627CLRE') SET NO_BROWSETABLE OFF;
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT T_BOS_COMPUTETASK.FExecutorType, T_BOS_COMPUTETASK.FProperties, T_BOS_COMPUTETASK.FBOSContext, T_BOS_COMPUTETASK.FLog, T_BOS_COMPUTETASK.FComputeId, T_BOS_COMPUTETASK.FTitle, T_BOS_COMPUTETASK.FPriority, T_BOS_COMPUTETASK.FStatus, T_BOS_COMPUTETASK.FProgress, T_BOS_COMPUTETASK.FOriginatorId, T_BOS_COMPUTETASK.FComputeSource FROM T_BOS_COMPUTETASK WHERE (T_BOS_COMPUTETASK.FSTATUS = 1 AND T_BOS_COMPUTETASK.FCOMPUTESOURCE = 'PC-20180627CLRE') SET NO_BROWSETABLE OFF;
go
/*dialect*/select 100- cast(cast(available_physical_memory_kb as numeric(23,10))*100/total_physical_memory_kb as numeric(23,2)) from sys.dm_os_sys_memory
go
/*dialect*/
                        SELECT [divfs].[database_id] ,
                        [divfs].[file_id] ,
                        [divfs].[sample_ms] ,
                        [divfs].[num_of_reads] ,
                        [divfs].[num_of_bytes_read] ,
                        [divfs].[io_stall_read_ms] ,
                        [divfs].[num_of_writes] ,
                        [divfs].[num_of_bytes_written] ,
                        [divfs].[io_stall_write_ms] ,
                        [divfs].[io_stall] ,
                        [divfs].[size_on_disk_bytes] ,
                        [divfs].[file_handle] into TMP6C8FECB8B56D11E89350E4F89CE
                        FROM [sys].[dm_io_virtual_file_stats](NULL, NULL) AS divfs
go
 SET FMTONLY OFF; SET NO_BROWSETABLE ON;SELECT T_BOS_COMPUTETASK.FExecutorType, T_BOS_COMPUTETASK.FProperties, T_BOS_COMPUTETASK.FBOSContext, T_BOS_COMPUTETASK.FLog, T_BOS_COMPUTETASK.FComputeId, T_BOS_COMPUTETASK.FTitle, T_BOS_COMPUTETASK.FPriority, T_BOS_COMPUTETASK.FStatus, T_BOS_COMPUTETASK.FProgress, T_BOS_COMPUTETASK.FOriginatorId, T_BOS_COMPUTETASK.FComputeSource FROM T_BOS_COMPUTETASK WHERE (T_BOS_COMPUTETASK.FSTATUS = 1 AND T_BOS_COMPUTETASK.FCOMPUTESOURCE = 'PC-20180627CLRE') SET NO_BROWSETABLE OFF;
go
